@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}
